<ion-content padding class="main">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull & release to refresh.">

    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="cardtop10">
    <ion-card-content>
      Name: {{this.session?.name}}
      <br>Points: {{this.session?.pts}}
      <br>Team: {{this.session?.team_name}}
    </ion-card-content>
  </ion-card>

  <!-- Main categories -->
  <ion-card padding class="catscard" id="catscard">
    <ion-list>
      <h1>Prediction categories</h1>
    </ion-list>

    <ion-list>
      <button ion-item (click)="display_eom()">
        <ion-label class="predcat">
          End-of-match predictions
        </ion-label>
      </button>

      <button ion-item (click)="display_rounds()">
        <ion-label class="predcat">
          Per round predictions
        </ion-label>
      </button>
    </ion-list>
  </ion-card>

  <!-- End of match predictions -->
  <ion-card padding class="eomcard" id="eomcard">
    <h2 text-center>End of match predictions</h2>

    <ion-list *ngFor="let e of eombets">
      <ion-item>
        <p>{{e?.name}}</p>
        <div>
          <button [disabled]="disabled" text-center ion-button id="eom_bet_btn" class="bet_btn" (click)="new_bet(e?.id, e?.name, e?.multiplier)">{{e?.multiplier}}x</button>
        </div>

      </ion-item>
    </ion-list>

    <button ion-fab mini text-center class="back_to_cats_btn" (click)="back_to_cats()">
      <ion-icon name="md-arrow-round-back"></ion-icon>
    </button>
  </ion-card>

  <!-- Round predictions -->
  <ion-card padding class="roundscard" id="roundscard">
    <h2 text-center>Round predictions</h2>

    <ion-list *ngFor="let r of roundbets">
      <ion-item>
        <p>{{r?.name}}</p>
        <div>
          <button [disabled]="disabled" text-center ion-button id="round_bet_btn" class="bet_btn" (click)="new_bet(r?.id, r?.name, r?.multiplier)">{{r?.multiplier}}x</button>
        </div>

      </ion-item>
    </ion-list>

    <button ion-fab mini text-center class="back_to_cats_btn" (click)="back_to_cats()">
      <ion-icon name="md-arrow-round-back"></ion-icon>
    </button>
  </ion-card>

  <!-- Leaderboard -->
  <ion-card padding class="rankcard" id="rankcard">
    <h1 text-center>Leaderboards</h1>

    <ion-list *ngFor="let p of players; let i = index" [attr.data-index]="i">
      <ion-item>
        <p>{{i+1}}. {{p?.name}} - {{p?.pts}} points </p>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Profile -->
  <ion-card padding class="profcard" id="profcard">
      <h1 text-center>Profile</h1>
      <h2 text-center>My predictions</h2>

      <ion-list *ngFor="let up of userpreds">
        
        <ion-item>
          <p>Name: {{up?.name}}</p>
          <p>Wager: {{up?.amount}}</p>
          <p>Potential win: {{up?.potential}}</p>
        </ion-item>
      </ion-list>
    </ion-card>

  <!-- Tab buttons -->
  <ion-row>
    <button ion-fab class="tab_btn" (click)="go_ranking()">
      Ranking
    </button>

    <button ion-fab class="tab_btn">
      Shop
    </button>

    <button ion-fab class="tab_btn" (click)="go_play()">
        Play
      </button>

    <button ion-fab class="tab_btn" (click)="go_profile(this?.session.id)">
      Profile
    </button>

    <button ion-fab class="tab_btn" (click)="logout(this?.session)">
      Log out
    </button>
  </ion-row>

</ion-content>