<ion-header>
  <ion-navbar>
    <ion-title>
      <h2 class="navtitle">Hexagon Game Master</h2>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull & release to refresh.">

    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-label floating>Message</ion-label>
      <ion-input type="text" [(ngModel)]="message"></ion-input>
    </ion-item>
    <button ion-button block (click)="send_message(message)">Send message</button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Players</ion-label>
      <ion-select [(ngModel)]="player">
        <ion-option *ngFor="let p of players">{{p.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Teams</ion-label>
      <ion-select [(ngModel)]="team">
        <ion-option *ngFor="let t of teams">{{t.name}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block text-center (click)="add_team(team, player)">Add player to team</button>
  </ion-list>

  <ion-item>
    <p text-center>Winner bets</p>
    <button ion-button block text-center *ngFor="let b of bets" (click)="bet_win(b.id, b.name)">{{b.name}}</button>
  </ion-item>

  <ion-item>
    <p text-center>Loser bets</p>
    <button ion-button block text-center *ngFor="let b of bets" (click)="bet_lose(b.id, b.name)">{{b.name}}</button>
  </ion-item>

  <ion-item>
    <p text-center>Change odds</p>
    <button ion-button block text-center *ngFor="let b of bets" (click)="odds_change(b.id, b.name, b.multiplier)">{{b.name}}</button>
  </ion-item>

  <ion-item>
    <p text-center>Lock/unlock bets</p>
    <button ion-button block text-center (click)="lock()">Lock bets</button>
    <button ion-button block text-center (click)="unlock()">Unlock bets</button>
  </ion-item>

  <ion-list>
    <p text-center>Trivia</p>
    <ion-item>
      <ion-label>Question</ion-label>
      <ion-select [(ngModel)]="question" interface="action-sheet">
        <ion-option *ngFor="let q of questions" (ionSelect)="trivia(q)">{{q.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <p text-center>User purchases</p>
    <p text-center *ngFor="let up of userpurchases">{{up.username}} - {{up.name}}</p>
  </ion-item>

  <ion-item>
    <p text-center>User predictions</p>
    <p text-center *ngFor="let upd of userpreds">{{upd.username}}: {{upd.name}} - Amount: {{upd.amount}}</p>
  </ion-item>

  <ion-item>
    <p text-center>Online users</p>
    <p text-center *ngFor="let o of onlineusers">{{o}}</p>
  </ion-item>

  <ion-item>
    <p text-center>All users (Teams: 1 - Red, 2 - Blue, 3 - Yellow, 4 - None)</p>
    <p text-center *ngFor="let p of players">{{p.name}} - Team: {{p.Team_id}}</p>
  </ion-item>

    <h1 text-center>Leaderboards</h1>
    <h2>Players</h2>
    <ion-list *ngFor="let p of players; let i = index" [attr.data-index]="i">
      <ion-item>
        <p>{{i+1}}. {{p?.name}} - {{p?.pts}} points </p>
      </ion-item>
    </ion-list>

    <h2>Teams</h2>
    <ion-list *ngFor="let tm of teampts; let i = index" [attr.data-index]="i">
      <ion-item>
        <p>{{i+1}}. {{tm?.name}} - {{tm?.pts}} Team-points </p>
      </ion-item>
    </ion-list>

</ion-content>